/* Variables */

:root {
  --basic-white: #FFFFFF;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --light-transparent-white: rgba(255, 255, 255, 0.9);
  --basic-black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --basic-dark: #333333;
  --basic-light: #EEEEEE;
  --basic-blue: #81B3D2;
  --darker-blue: #669EC0;
  --darkest-blue: #5496BD;
  --basic-brown: #766357;
  --darker-brown: #604E43;
  --darkest-brown: #503E33;
  --basic-lighter: #F2F2F2;
  --basic-grey: #A9A9A9;
  --darkest-grey: #EBEBEB;
  --silver-grey: #E5E5E5;
  --darker-grey: #6A6A6A;
  --extra-dark-grey: #231F20;
  --rose-grey: #BDBBBC;
  --shadow-grey: rgba(0, 1, 1, 0.2);
  --blue-grey: #CACACA;
  --simple-grey: #666666;
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-lighter);
}

.page {
  height: 100%;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px var(--shadow-grey);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.main-header {
  background-color: var(--basic-white);
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  background-color: transparent;
  padding: 0 72px;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 15px 0;
}

.site-navigation li {
  width: 226px;
}

.site-navigation li:nth-child(2) {
  margin-right: 150px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: var(--basic-black);
  font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--transparent-black);
}

.site-navigation .current,
.site-navigation .current:hover,
.site-navigation .current:focus,
.site-navigation .current:active {
  color: var(--basic-brown);
}

/* Main */

.main-wrapper {
  background-color: var(--basic-white);
}

/* Welcome */

.welcome-section {
  background-image: url("");
  background-color: var(--darkest-blue);
  background-repeat: no-repeat;
  background-position: center;
}

/* Advantages Header */

.advantages-header {
  width: 520px;
  margin: 0 auto;
  padding: 43px 0 51px 0;
  text-align: center;
}

.advantages-header h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 44px;
}

.advantages-header p {
  color: var(--basic-dark);
  margin: 0;
}

/* Advantages List */

.big-advantages-list,
.small-advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.first-advantage,
.second-advantage {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.advantage-image img {
  display: block;
  width: 800px;
  height: 256px;
}

.first-advantage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
}

.first-advantage .advantage-text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.first-advantage .advantage-image {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.second-advantage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.second-advantage .advantage-image {
  grid-column: 1 / 3;
}

.features-list {
  background-color: var(--basic-white);
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 336px;
}

.advantage-item,
.feature-item {
  text-align: center;
}

.advantage-text,
.small-advantage {
  padding-top: 47px;
}

.advantage-item p,
.feature-item p {
  line-height: 21px;
}

.feature-item {
  padding-top: 60px;
}

.feature-item p {
  width: 300px;
  margin: 0 auto 0 auto;
}

.advantage-item p {
  width: 305px;
  margin: 0 auto 23px auto;
}

.small-advantage p {
  width: 258px;
}

.advantage-item h3,
.feature-item h4 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.advantage-item h3 {
  width: 151px;
  margin: 0 auto 25px auto;
}

.feature-item h4 {
  color: var(--basic-black);
  margin: 0 auto 25px auto;
}

.small-advantages-list {
  background-color: var(--basic-light);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  justify-items: center;
  min-height: 256px;
}

.small-advantage p,
.feature-item p {
  color: var(--basic-dark);
}

/* Search */

.hotel-search {
  text-align: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.search-description {
  line-height: 24px;
  color: var(--basic-dark);
}

/* Footer */

.main-footer {
  background-color: var(--light-transparent-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 1200px;
  padding-left: 73px;
  padding-right: 73px;
}

.index-footer {
  position: absolute;
  bottom: 0;
}

.footer-contacts,
.footer-social,
.footer-copyright {
  text-align: center;
}

.footer-contacts p {
  font-weight: 700;
  font-size: 21px;
}

.social-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  margin-right: 6px;
}

.social-buttons li:nth-child(3) {
  margin-right: 0;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--darker-blue);
}

.social-button:active {
  background-color: var(--darkest-blue);
  color: var(--transparent-white);
}

.footer-copyright a {
  color: var(--extra-dark-grey);
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: var(--basic-blue);
}

.footer-copyright a:active {
  color: var(--rose-grey);
}

/* Hotels Filter */

.hotels-filter {
  background-image: url("");
  background-color: var(--darkest-blue);
  background-repeat: no-repeat;
  background-position: center;
}

/* Hotels Sorting */

.sorting-list,
.sorting-order {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-sorting {
  border-bottom: 1px solid var(--silver-grey);
  padding-right: 73px;
  padding-left: 73px;
}

.hotels-sorting-content {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
}

.sorting-found {
  font-weight: 700;
  font-size: 21px;
  margin-right: 46px;
}

.sorting-title {
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
}

.sorting-list {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sorting-list li {
  margin-right: 32px;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dashed var(--basic-blue);
  color: var(--transparent-black);
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: var(--basic-blue);
}

.sorting-list a:active {
  color: var(--basic-black);
  border: none;
}

.sorting-list .current,
.sorting-list .current:hover,
.sorting-list .current:focus,
.sorting-list .current.active {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-blue);
  border: none;
}

.sorting-order {
  display: flex;
  align-items: center;
}

.sorting-order a {
  background-color: var(--blue-grey);
}

.sorting-order a:hover,
.sorting-order a:focus {
  background-color: var(--basic-black);
}

.sorting-order a:active,
.sorting-order .current,
.sorting-order .current:hover,
.sorting-order .current:focus,
.sorting-order .current.active {
  background-color: var(--basic-blue);
}

/* Hotels Catalog */

.hotel-item {
  border-bottom: 1px solid var(--silver-grey);
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  grid-template-rows: repeat(2, auto);
  align-items: end;
  padding: 24px 73px 30px 73px;
}

.hotel-image {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  width: 135px;
  height: 90px;
  margin-right: 29px;
 }

 .hotel-name {
  grid-column: 2 / -2;
  grid-row: 1 / 2;
  margin: 0;
  margin-bottom: 7px;
 }

 .hotel-description {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  align-self: end;
  margin-right: 6px;
 }

 .hotel-booking {
  grid-column: 3 / 4;
  grid-row: 2 / -1;
 }

 .hotel-rating {
  grid-column: -1 / -2;
  grid-row: 1 / -1;
 }

 .hotel-image img {
   display: block;
 }

.hotel-name a {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: var(--basic-blue);
}

.hotel-name a:active {
  color: var(--transparent-black);
}

.hotel-description p,
.hotel-booking p {
  line-height: 21px;
  color: var(--basic-dark);
  margin: 0;
  margin-bottom: 15px;
}

.hotel-description a,
.hotel-booking a {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
}

.hotel-description a {
  background-color: var(--basic-blue);
  padding: 3px 16px 3px 17px;
}

.hotel-description a:hover,
.hotel-description a:focus {
  background-color: var(--darker-blue);
}

.hotel-description a:focus {
  background-color: var(--darkest-blue);
  color: var(--transparent-white);
}

.hotel-booking a {
  background-color: var(--basic-brown);
  padding: 3px 17px 3px 16px;
}

.hotel-booking a:hover,
.hotel-booking a:focus {
  background-color: var(--darker-brown);
}

.hotel-booking a:focus {
  background-color: var(--darkest-brown);
  color: var(--transparent-white);
}

.guest-rating span {
  line-height: 21px;
  color: var(--simple-grey);
  background-color: var(--basic-lighter);
  padding: 3px 12px 3px 15px;
}





