/* Variables */

:root {
  --basic-white: #FFFFFF;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --light-transparent-white: rgba(255, 255, 255, 0.9);
  --basic-black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --basic-dark: #333333;
  --basic-light: #EEEEEE;
  --basic-blue: #81B3D2;
  --darker-blue: #669EC0;
  --darkest-blue: #5496BD;
  --basic-brown: #766357;
  --darker-brown: #604E43;
  --darkest-brown: #503E33;
  --basic-lighter: #F2F2F2;
  --basic-grey: #A9A9A9;
  --darkest-grey: #EBEBEB;
  --silver-grey: #E5E5E5;
  --darker-grey: #6A6A6A;
  --extra-dark-grey: #231F20;
  --rose-grey: #BDBBBC;
  --shadow-grey: rgba(0, 1, 1, 0.2);
  --blue-grey: #CACACA;
  --simple-grey: #666666;
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-lighter);
}

.page {
  height: 100%;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px var(--shadow-grey);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.main-header {
  background-color: var(--basic-white);
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.main-header-logo {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: center;
}

.site-navigation {
  list-style: none;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.site-navigation a {
  color: var(--basic-black);
  font-weight: 700;
  text-align: center;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--transparent-black);
}

.site-navigation .current,
.site-navigation .current:hover,
.site-navigation .current:focus,
.site-navigation .current:active {
  color: var(--basic-brown);
}

/* Main */

.main-wrapper {
  background-color: var(--basic-white);
}

/* Welcome */

.welcome-section {
  background-image: url("");
  background-color: var(--darkest-blue);
  background-repeat: no-repeat;
  background-position: center;
}

/* Advantages */

.advantages-header {
  text-align: center;
}

.advantages-header h2 {
  font-size: 21px;
  font-weight: 700;
}

.advantages-header p {
  color: var(--basic-dark);
}

.big-advantages-list,
.small-advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.small-advantages-list {
  background-color: var(--basic-light);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.first-advantage,
.second-advantage {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.advantage-image img {
  display: block;
}

.features-list {
  background-color: var(--basic-white);
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-item,
.feature-item {
  text-align: center;
}

.advantage-item p,
.feature-item p {
  line-height: 21px;
}

.advantage-item h3,
.feature-item h4 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.feature-item h4 {
  color: var(--basic-black);
}

.small-advantage p,
.feature-item p {
  color: var(--basic-dark);
}

.first-advantage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
}

.first-advantage .advantage-text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.first-advantage .advantage-image {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.first-advantage .features-list {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.second-advantage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.second-advantage .advantage-image {
  grid-column: 1 / 3;
}

/* Search */

.hotel-search {
  text-align: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.search-description {
  line-height: 24px;
  color: var(--basic-dark);
}

/* Footer */

.main-footer {
  background-color: var(--light-transparent-white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-contacts,
.footer-copyright {
  text-align: center;
}

.footer-contacts p {
  font-weight: 700;
  font-size: 21px;
}

.footer-social {
  justify-self: center;
}

.social-buttons {
  list-style: none;
}

.social-button {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--darker-blue);
}

.social-button:active {
  background-color: var(--darkest-blue);
  color: var(--transparent-white);
}

.footer-copyright a {
  color: var(--extra-dark-grey);
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: var(--basic-blue);
}

.footer-copyright a:active {
  color: var(--rose-grey);
}

/* Hotels */

.hotels-filter {
  background-image: url("");
  background-color: var(--darkest-blue);
  background-repeat: no-repeat;
  background-position: center;
}

.sorting-list,
.sorting-order {
list-style: none;
}

.hotels-sorting {
  border-bottom: 1px solid var(--silver-grey);
}

.sorting-found {
  font-weight: 700;
  font-size: 21px;
}

.sorting-title {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list button {
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-bottom: 1px dashed var(--basic-blue);
  background-color: transparent;
  color: var(--transparent-black);
}

.sorting-list button:hover,
.sorting-list button:focus {
  color: var(--basic-blue);
}

.sorting-list button:active {
  color: var(--basic-black);
  border: none;
}

.sorting-list .current,
.sorting-list .current:hover,
.sorting-list .current:focus,
.sorting-list .current.active {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-blue);
  border: none;
}

.sorting-order button {
  outline: none;
  border: none;
  background-color: var(--blue-grey);
}

.sorting-order button:hover,
.sorting-order button:focus {
  background-color: var(--basic-black);
}

.sorting-order button:active,
.sorting-order .current,
.sorting-order .current:hover,
.sorting-order .current:focus,
.sorting-order .current.active {
  background-color: var(--basic-blue);
}

.hotel-item {
  border-bottom: 1px solid var(--silver-grey);
}

.hotel-name a {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: var(--basic-blue);
}

.hotel-name a:active {
  color: var(--transparent-black);
}

.hotel-description p,
.hotel-booking p {
  line-height: 21px;
  color: var(--basic-dark);
}

.hotel-description a,
.hotel-booking a {
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
}

.hotel-description a {
  background-color: var(--basic-blue);
}

.hotel-description a:hover,
.hotel-description a:focus {
  background-color: var(--darker-blue);
}

.hotel-description a:focus {
  background-color: var(--darkest-blue);
  color: var(--transparent-white);
}

.hotel-booking a {
  background-color: var(--basic-brown);
}

.hotel-booking a:hover,
.hotel-booking a:focus {
  background-color: var(--darker-brown);
}

.hotel-booking a:focus {
  background-color: var(--darkest-brown);
  color: var(--transparent-white);
}

.guest-rating span {
  line-height: 21px;
  color: var(--simple-grey);
}





