/* Variables */

:root {
  --basic-white: #FFFFFF;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --light-transparent-white: rgba(255, 255, 255, 0.9);
  --basic-black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --basic-dark: #333333;
  --basic-light: #EEEEEE;
  --basic-blue: #81B3D2;
  --darker-blue: #669EC0;
  --darkest-blue: #5496BD;
  --basic-brown: #766357;
  --darker-brown: #604E43;
  --darkest-brown: #503E33;
  --basic-lighter: #F2F2F2;
  --basic-grey: #A9A9A9;
  --darkest-grey: #EBEBEB;
  --silver-grey: #E5E5E5;
  --darker-grey: #6A6A6A;
  --extra-dark-grey: #231F20;
  --rose-grey: #BDBBBC;
  --shadow-grey: rgba(0, 1, 1, 0.2);
  --blue-grey: #CACACA;
  --simple-grey: #666666;
  --granit-grey: #ABABAB;
  --transparent-grey: rgba(171, 171, 171, 0.3);
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-lighter);
}

.page {
  height: 100%;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0px 5px 15px var(--shadow-grey);
  background-color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.main-header {
  background-color: var(--basic-white);
}

.main-navigation {
  position: relative;
  padding: 0 72px;
  font-weight: 700;
  line-height: 26px;
  background-color: transparent;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  width: 226px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation li:nth-child(2) {
  margin-right: 150px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  font-weight: 700;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--transparent-black);
}

.site-navigation .current,
.site-navigation .current:hover,
.site-navigation .current:focus,
.site-navigation .current:active {
  color: var(--basic-brown);
}

/* Main */

.main-wrapper {
  background-color: var(--basic-white);
}

/* Welcome */

.welcome-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 509px;
  background-color: var(--darkest-blue);
  background-image: url("../img/welcome-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-section img {
  display: block;
  width: 457px;
  height: 351px;
  margin-top: -5px;
}

.welcome-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/mask.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

/* Advantages Header */

.advantages-header {
  width: 520px;
  margin: 0 auto;
  padding: 42px 0 52px 0;
  text-align: center;
}

.advantages-header h2 {
  margin: 0;
  margin-bottom: 43px;
  font-size: 21px;
  font-weight: 700;
}

.advantages-header p {
  margin: 0;
  color: var(--basic-dark);
}

/* Advantages List */

.big-advantages-list,
.small-advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.first-advantage,
.second-advantage {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.advantage-image img {
  display: block;
  width: 800px;
  height: 256px;
}

.first-advantage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
}

.first-advantage .advantage-text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.first-advantage .advantage-image {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.second-advantage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.second-advantage .advantage-image {
  grid-column: 1 / 3;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  min-height: 330px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--basic-white);
}

.advantage-item,
.feature-item {
  text-align: center;
}

.advantage-text,
.small-advantage {
  padding-top: 47px;
}

.second-advantage .advantage-text {
  padding-top: 49px;
}

.advantage-item p,
.feature-item p {
  line-height: 21px;
}

.small-advantage p,
.feature-item p {
  color: var(--basic-dark);
}

.feature-item {
  padding-top: 60px;
}

.feature-item h4 {
  position: relative;
  margin: 0 auto 25px auto;
  padding: 0;
  padding-top: 100px;
  color: var(--basic-black);
}

.feature-item:nth-child(1) h4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-house.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.feature-item:nth-child(2) h4::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 70px;
  background-image: url("../img/icon-food.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.feature-item:nth-child(3) h4::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 77px;
  background-image: url("../img/icon-souvenirs.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.feature-item p {
  width: 300px;
  margin: 0 auto 82px auto;
  padding: 0;
}

.advantage-item p {
  width: 305px;
  margin: 0 auto 25px auto;
}

.small-advantage p {
  width: 264px;
}

.advantage-item h3,
.feature-item h4 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.advantage-item h3 {
  width: 151px;
  margin: 0 auto 26px auto;
}

.small-advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  justify-items: center;
  min-height: 256px;
  background-color: var(--basic-light);
}

/* Search */

.hotel-search {
  position: relative;
  padding-top: 56px;
  text-align: center;
}

.search-title {
  margin: 0;
  margin-bottom: 31px;
  padding-left: 1px;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.search-description {
  margin: 0;
  margin-bottom: 44px;
  line-height: 25px;
  color: var(--basic-dark);
}

.hotel-search a {
  display: block;
  width: 568px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.hotel-search a:hover,
.hotel-search a:focus {
  background-color: var(--darker-brown);
}

.hotel-search a:active {
  color: var(--transparent-white);
  background-color: var(--darkest-brown);
}

.search-window {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1);
  transform-origin: 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 568px;
  padding: 55px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  background-color: var(--basic-white);
}

.search-window-js {
  transform: translateX(-50%) scaleY(0);
}

.search-window-show {
  transform: translateX(-50%) scaleY(1);
  transition: 0.5s ease-in-out;
}

.search-window-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.search-window p {
  position: relative;
}

.search-window input::-webkit-input-placeholder {
  font: inherit;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.search-window input::-moz-placeholder {
  font: inherit;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.search-window label,
.search-window input,
.search-window input::placeholder {
  font: inherit;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.search-window input {
  box-sizing: border-box;
  line-height: 26px;
  background-color: var(--basic-lighter);
  border: none;
}

.search-window input:hover {
  background-color: var(--darkest-grey);
}

.search-window input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--silver-grey);
  outline-offset: -2px;
}

.field-from,
.field-to {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 29px;
}

.field-to {
  margin-bottom: 30px;
}

.field-from input,
.field-to input {
  box-sizing: border-box;
  width: 346px;
  padding: 6px 30px 6px 13px;
}

.field-to input {
  padding-left: 12px;
}

.form-search-calendar,
.count-plus,
.count-minus {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
}

.form-search-calendar {
  right: 15px;
  top: 7px;
  width: 21px;
  height: 23px;
}

.count-plus {
  right: 11px;
  top: 11px;
  width: 20px;
  height: 20px;
}

.count-minus {
  right: 92px;
  top: 8px;
  width: 15px;
  height: 15px;
}

.form-search-calendar:hover path,
.form-search-calendar:focus path,
.count-plus:hover path,
.count-plus:focus path,
.count-minus:hover rect,
.count-minus:focus rect {
  fill: var(--basic-black);
}

.form-search-calendar:active path,
.count-plus:active path,
.count-minus:active rect {
  fill: var(--basic-blue);
}

.field-people {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.field-people p {
  position: relative;
  margin: 0;
}

.field-people input {
  box-sizing: border-box;
  width: 115px;
  text-align: center;
}

.field-children {
  text-align: right;
}

.field-adults label {
  margin-right: 36px;
}

.field-adults input {
  padding: 6px 39px;
}

.field-children input {
  padding: 6px 38px;
}

.field-children label {
  margin-right: 22px;
}

.search-button {
  padding: 16px 182px 16px 181px;
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  outline: none;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--darker-blue);
}

.search-button:active {
  color: var(--transparent-white);
  background-color: var(--darkest-blue);
}

.search-button:hover,
.form-search-calendar:hover,
.count-plus:hover,
.count-minus:hover {
  cursor: pointer;
}

/* Map */

.map {
  min-height: 594px;
  background-color: var(--darker-grey);
  background-image: url("../img/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map iframe {
  display: block;
  border: none;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  width: 1200px;
  min-height: 120px;
  padding-left: 73px;
  padding-right: 73px;
  background-color: var(--light-transparent-white);
}

.index-footer {
  z-index: 1;
  margin-top: -120px;
}

.footer-contacts,
.footer-social,
.footer-copyright {
  text-align: center;
}

.footer-contacts {
  align-self: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
}

.footer-contacts .footer-hashtag {
  margin-bottom: 9px;
}

.footer-phone a,
.footer-phone a:hover,
.footer-phone a:focus {
  color: var(--basic-black);
  text-decoration: none;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 10px auto 5px;
  padding: 0;
  list-style: none;
}

.social-button {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  margin-bottom: 5px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.twitter::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
  background-image: url("../img/twitter.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.facebook::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 22px;
  background-image: url("../img/facebook.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.youtube::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 16px;
  background-image: url("../img/youtube.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--darker-blue);
}

.social-button:active {
  background-color: var(--darkest-blue);
}

.social-button:active::before {
  opacity: 0.3;
}

.logo-button:hover path,
.logo-button:focus path {
  fill: var(--basic-blue);
}

.logo-button:active path {
  fill: var(--rose-grey);
}

.footer-copyright {
  display: flex;
  align-items: center;
  padding-top: 3px;
}

.footer-copyright span {
  margin-right: 8px;
}

/* Hotels Filter */

.hotels-filter {
  min-height: 217px;
  margin-bottom: 8px;
  background-color: var(--darkest-blue);
  background-image: url("../img/background-hotels.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1054px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 31px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-form legend {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter-form label {
  font: inherit;
  line-height: 21px;
  color: var(--basic-white);
  cursor: pointer;
}

.filter-option label {
  position: relative;
  display: block;
}

.infrastructure-options label {
  padding-left: 38px;
}

.accomodation-options label {
  padding-left: 42px;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='white'/%3E%3C/svg%3E");
}

.filter-checkbox:disabled + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%236A6A6A'/%3E%3C/svg%3E");
}

.filter-checkbox:checked + label::before {
  width: 27px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28505 7.48601L4.45605 10.315L12.2391 18.098L26.1711 4.16601L23.3431 1.33701L12.2391 12.439L7.28505 7.48601Z' fill='white'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='white'/%3E%3C/svg%3E");
}

.filter-checkbox:checked:disabled + label::before {
  width: 27px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z' fill='%236A6A6A'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%236A6A6A'/%3E%3C/svg%3E");
}

.filter-checkbox:focus + label {
  text-decoration: underline;
}

.filter-left {
  display: flex;
  justify-content: space-between;
  min-width: 454px;
}

.filter-left legend {
  margin-bottom: 25px;
  margin-left: -1px;
  padding: 0;
}

.filter-left fieldset {
  box-sizing: border-box;
  min-width: 200px;
}

.filter-left ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 114px;
}

.filter-form li {
  margin-bottom: 25px;
}

.filter-form li:last-child {
  margin-bottom: 0;
}

.filter-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-options legend {
  margin-bottom: 11px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 317px;
  padding: 2px 19px 5px 65px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls::after  {
  content: "";
  position: absolute;
  left: 157px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.price-controls input {
  width: 60px;
  padding: 2px 0 3px;
  font: inherit;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}

.range-controls {
  position: relative;
  padding-top: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--transparent-white);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: var(--granit-grey);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--transparent-grey);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 80%;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  transform: scale(1.2);
  outline: none;
}

.filter-button {
  align-self: center;
  margin-right: 9px;
  margin-bottom: 1px;
  padding: 5px 34px 6px;
  font: inherit;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  outline: none;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
  cursor: pointer;
}

/* Hotels Sorting */

.sorting-list,
.sorting-order {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-sorting {
  padding-right: 73px;
  padding-bottom: 9px;
  padding-left: 73px;
  border-bottom: 1px solid var(--silver-grey);
}

.hotels-sorting-content {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
}

.sorting-found {
  margin-right: 47px;
  font-weight: 700;
  font-size: 21px;
}

.sorting-title {
  margin-right: 40px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sorting-list li {
  margin-right: 33px;
  padding-bottom: 3px;
}

.sorting-list li:last-child {
  margin: 0;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: var(--transparent-black);
  border-bottom: 1px dashed var(--basic-blue);
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: var(--basic-blue);
}

.sorting-list a:active {
  color: var(--basic-black);
  border: none;
}

.sorting-list .current,
.sorting-list .current:hover,
.sorting-list .current:focus,
.sorting-list .current.active {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-blue);
  border: none;
}

.sorting-order {
  display: flex;
  align-items: center;
}

.sorting-order li {
  margin-right: 12px;
  padding-top: 5px;
}

.sorting-order li:last-child {
  margin: 0;
}

.sorting-order-arrow:hover path,
.sorting-order-arrow:focus path {
  fill: var(--basic-black);
}

.sorting-order-arrow:active path {
  fill: var(--basic-blue);
}

.sorting-order-arrow.current path {
  fill: var(--basic-blue);
}

/* Hotels Catalog */

.hotel-item {
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  grid-template-rows: repeat(2, auto);
  align-items: end;
  padding: 24px 73px 30px 73px;
  border-bottom: 1px solid var(--silver-grey);
}

.hotel-image {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  width: 135px;
  height: 90px;
  margin-right: 29px;
  -o-object-fit: contain;
     object-fit: contain;
 }

 .hotel-name {
  grid-column: 2 / -2;
  grid-row: 1 / 2;
  margin: 0;
  margin-bottom: 5px;
 }

 .hotel-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  margin-right: 6px;
 }

 .hotel-booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 3 / 4;
  grid-row: 2 / -1;
 }

 .hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: -1 / -2;
  grid-row: 1 / -1;
  align-self: stretch;
 }

 .hotel-image img {
   display: block;
 }

.hotel-name a {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: var(--basic-blue);
}

.hotel-name a:active {
  color: var(--transparent-black);
}

.hotel-description p,
.hotel-booking p {
  margin: 0;
  margin-bottom: 16px;
  line-height: 21px;
  color: var(--basic-dark);
}

.hotel-description a,
.hotel-booking a {
  display: block;
  font-weight: 700;
  line-height: 21px;
  color: var(--basic-white);
}

.hotel-description a {
  padding: 3px 17px;
  background-color: var(--basic-blue);
}

.hotel-description a:hover,
.hotel-description a:focus {
  background-color: var(--darker-blue);
}

.hotel-description a:focus {
  color: var(--transparent-white);
  background-color: var(--darkest-blue);
}

.hotel-booking a {
  padding: 3px 17px 3px 16px;
  background-color: var(--basic-brown);
}

.hotel-booking a:hover,
.hotel-booking a:focus {
  background-color: var(--darker-brown);
}

.hotel-booking a:focus {
  color: var(--transparent-white);
  background-color: var(--darkest-brown);
}

.guest-rating span {
  padding: 3px 12px 3px 15px;
  line-height: 21px;
  color: var(--simple-grey);
  background-color: var(--basic-lighter);
}

.stars-rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.star {
  position: relative;
  padding-left: 24px;
}

.star::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 18px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
}

/* Animations */

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-49%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-51%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-49%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-51%);
  }
}



